<section>
    <div class="container bg-success  ">
        <form action="/admin/adminAddProducts" method="post" enctype="multipart/form-data">
            <h1 class="text-center">Add New Item</h1>
            <label for="item">Item Name</label>
            <input class="form-control" type="text" name="item" >
            <label for="price">Price</label>
            <input class="form-control" type="text" name="price" >
             <label for="price">Quantiy</label>
            <input class="form-control" type="text" name="quantity" >

 
    <label for="">Image</label>
    <input type="file" class="form-control-file" name="image">
 
  <button type="submit" class="btn btn-primary  ">Submit</button>
</form>
    </div>
</section>