<section>
    <div class="container mt-5">
        <form action="" id="chekout-form" method="post" >
            <div class="row">
                <div class="col-md-6">
                    <h2>Enter Yor Details</h2>
                    <div>
                        <label for="">Address</label>
                        <input class="form-control" type="text" id="address" name="address" >
                        <label for="">Pincode</label>
                        <input class="form-control" type="text" id="pincode" name="pincode">
                        <label for="">Mobile</label>
                        <input class="from-control" type="tel" id="mobile" name="mobile">
                        <input type="text" name="userId" id="userId" value="{{user._id}}" hidden>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="container mt-5 ml-5 checkout">
                        <h5>Total Amount : Rs.{{totalAmt}}</h5>
                        <hr>
                        <div class="payment">
                            <p>Payment method</p>
                            <label class="radio-inline">
                             <input type="radio" name="payment-method" value="COD" checked>COD
                            </label>
                            <label class="radio-inline mt-2">
                                <input type="radio" name="payment-method" value="online">Online payment
                            </label>
                            <button class="btn btn-primary float-right" type="submit">Chekout</button>
                        </div>
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>
<script>
     
    $('#chekout-form').click=(e)=>{
        console.log("Form submitted");
        e.preventDefault() 
        $.ajax({
            url:'/place-order',
            method:'post',
            data:$('#chekout-form').serialize(),
            success:(response)=>{
                {{!-- alert(response) --}}
                if(response.status){
                    location.href="/order-placed"
                }
            }
        })
    }
     
    
</script>